:root {
  --ion-background-color: #F0EBE3;
  --ion-background-color-rgb: 240, 235, 227;
  --ion-text-color: #1a1a1a;
  --ion-text-color-rgb: 26, 26, 26;

  --ion-color-primary: #5c85d6;
  --ion-color-primary-rgb: 92, 133, 214;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5175bc;
  --ion-color-primary-tint: #6d96da;

  --ion-font-family: 'DM Sans', sans-serif;

  --card-blue: #cfe2ff;
  --card-pink: #E8D5D0;
  --card-yellow: #DDD9A3;
  --card-purple: #D4CCDC;
  --card-beige: #D9CFC4;
  --card-white: #FFFFFF;

  --ion-toolbar-background: #F0EBE3;
  --ion-toolbar-color: #1a1a1a;
  --ion-item-background: #FFFFFF;
}

body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;
  --ion-text-color: #f5f5f5;
  --ion-text-color-rgb: 245, 245, 245;

  --ion-color-primary: #f5f5f5;
  --ion-color-primary-rgb: 245, 245, 245;
  --ion-color-primary-contrast: #121212;
  --ion-color-primary-contrast-rgb: 18, 18, 18;
  --ion-color-primary-shade: #dcdcdc;
  --ion-color-primary-tint: #ffffff;

  --card-blue: #2c2f48;
  --card-pink: #44322e;
  --card-yellow: #3c3a20;
  --card-purple: #352c3c;
  --card-beige: #3a322c;
  --card-white: #1e1e1e;

  --ion-toolbar-background: #121212;
  --ion-toolbar-color: #f5f5f5;
  --ion-item-background: #1e1e1e;
}

