<ion-app>
  <ion-router-outlet></ion-router-outlet>
  
  <div class="global-bottom-nav" *ngIf="showBottomNav">
    <div class="nav-bg-slider" [ngStyle]="{'transform': 'translateX(' + getSliderOffset() + 'px)'}"></div>
    
    <ion-button fill="clear" class="nav-btn" [class.active]="activeIndex === 0" (click)="goTo('home', 0)">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="nav-btn" [class.active]="activeIndex === 1" (click)="goTo('billing', 1)">
      <ion-icon name="swap-horizontal-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="nav-btn" [class.active]="activeIndex === 2" (click)="goTo('preferences', 2)">
      <ion-icon name="options-outline"></ion-icon>
    </ion-button>
  </div>
</ion-app>
